@model ICBF_3.Models.Nino

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Niup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Niup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdEpsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdEpsNavigation.PkIdEps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdJardinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdJardinNavigation.PkIdJardin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdUsuarioNavigation.PkIdUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PkIdNino" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
