@model List<ICBF_3.Models.Usuario>

<h1>Reporte de Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Rol</th>
            <th>Tipo de Documento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Identificacion</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.FechaNacimiento.ToShortDateString()</td>
                <td>@usuario.Telefono</td>
                <td>@usuario.Correo</td>
                <td>@usuario.Direccion</td>
                <td>@usuario.FkIdRolNavigation.Tipo</td>
                <td>@usuario.FkIdTipoDocNavigation.Tipo</td>
            </tr>
        }
    </tbody>
</table>
