@model ICBF_3.Models.AvancesAcademico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvancesAcademico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoEscolar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoEscolar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdNinoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdNinoNavigation.PkIdNino)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PkIdAvance">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
