@model IEnumerable<ICBF_3.Models.Asistencia>

@{
    ViewData["Title"] = "Index";
}

<style>
    .table-container {
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
    }

    .page-title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
        color: #007bff;
    }

    .btn-create {
        margin-bottom: 10px;
    }
</style>

<div class="table-container">
    <h1 class="page-title">Listado de Asistencias</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-create">Crear Nuevo</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Descripción de Estado
                </th>
                <th>
                    Niño
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionEstado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkIdNinoNavigation.PkIdNino)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PkIdAsistencia" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.PkIdAsistencia" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
